body{
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #60c1f5, #fb549a);
}
.calculator{
    width: 100vh;
    height: 100vh;
    margin: 100px auto;
    padding: 20px;
    background: #f2f2f2fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#display{
    width: 100%;
    height: 20%;
    font-size: 50px;
    text-align: right;
    font-weight: bold;
    padding: 30px;
    border: none;
    border-radius: 5px;
    margin-bottom: 40px;
    box-sizing: border-box;
    background: #ffffff;
}
.buttons button{
    display: flex-box;
    justify-content: center;
    flex-wrap: wrap;          /* allows buttons to go to next line */
    gap: 10px;
    width: 23%;
    height: 60px;
    font-size: 18px;
    margin: 1%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(79, 79, 79, 0.2);
    background: linear-gradient(to bottom, #474747,#1c1c1c, #474747);
    color: white;
    cursor: pointer;
    transition: background 0.3s;
    padding:20px;
    justify-content: center;
    align-items: center;
}
.buttons {
  display: gridbox;
  grid-template-columns: repeat(4, 60px); /* 4 buttons per row */
  grid-auto-rows: 60px; /* sets row height for new rows */
  gap: 10px;

}
.buttons{
        margin-left: 20%;
}

button:hover{
     box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff; /* glow effect */
     transform: scale(1.05);

}
#equal{
    background: linear-gradient(to bottom, #f7b448,#ff9d00, #f7b448);
    color: white;
}
#clear{
    background: linear-gradient(to bottom, #64c1ff,#3ab0ff, #64c1ff);
    color: white;
}
#delete{
    background: linear-gradient(to bottom, #64c1ff,#3ab0ff, #64c1ff);
    color: white;
}
